<div class="topnav">
  <a href="https://www.youtube.com/watch?v=Di9Rxa4P35M&t=130s" >editors</a>
  <a href="#search">3D Renders</a>
  <a href="#about">Architecture & Interior</a>
  <a href="#about">Current Events</a>
  <a href="#about">Experimental</a>
  <a href="#about">Fashion</a>
  <a href="#about">Film</a>
  <a href="#about">Food & Drink</a>
  <a href="#about">Health & Wellness</a>
  <a href="#about">Nature</a>
  <a href="#about">people</a>
  <a href="#about">Street Photography</a>
</div>
<div class="helo">
  <div class="helo_container-fluid">
    <h1><b>unsplash</b><br />
      The internet’s source of freely-usable images.<br />
      Powered by creators everywhere. </h1>
    <form>
      <input type="text" name="search" placeholder="search free high-resolution photos">
      <input type="submit" value="search">
    </form>
    <p>trending:flowers,background,wallpaper,happy,love</p>
  </div>
</div>

<div class="helo2">
<div class="row">
    <div class="card">
      <div class="auto">
        <h1><b>unsplash award 2021</b></h1>
        <p>now accepting submission to the 5th edition of the unsplash awards. <a href="#"> read me </a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid1">
  <div class="box1" *ngFor="let item of gallreylist">
    <img src="{{ item.img}}" (click)="toggleImageOpen(item.img,item.name,item.id)" />
  </div>
</div>
<div class="container-fluid3" *ngIf="isShown" id="divshow">
  <h1>{{modalname}}</h1>
  <button class="btn btn-success dropdown-toggle"  type="button" data-toggle="dropdown">
    <a href="{{modalImg}}" download> download</a> 
    <span class="caret"></span>
  </button>
  <!-- <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul> -->
  <div class="image-slider">
  <div class="slide">
    <div class="prev" (click)="minusSlide(modalid)">&#10094;</div>
    </div>

 <div class="content"> 

  <img src="{{modalImg}}" (click)="toggleImageOpen('','',0)">
 

 </div> 
 <div class="slide">
  <div class="next" (click)="plusSlides(modalid)">&#10095;</div>
</div>
</div>
  </div>

  
