.helo{
    height: 620px;
    width: 100%;
    background-image: url(../assets/images/mount.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.helo h1{
   padding: 100px;
}

input[type=text]{
    width: 50%;
    padding: 12px;
    font-family: arial;
    font-size: 17px;
    border: 1px solid #0076a3;
    border-radius: 5px 0 0 5px;
    font-style: italic;
    border-top: 25px;
    margin-left: 100px;
    
   
    
}
input[type=submit]{
    position: relative;
    padding: 12px;
    width: 8%;
    font-family: arial;
    font-size: 17px;
    text-shadow: 0 0 1px #000;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-right: 0;
    background: -webkit-linear-gradient(#0095cc,#00678e);
    border: 1px solid #76a3;
    
}
.helo p{
    padding: 100px;
    color: white;
    text-align: left;
}


.helo2{
  /*  height:200px;
    width: 100%;
     background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -8px;*/
}
.auto{
    background-color: red;
    margin-top: 35px;
    width: 100%;
    background-image: url("../assets/images/auto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.helo2 h1{
    text-align: center;
    padding: 50px;
}
.helo2 p{
    text-align: center;
}
.container-fluid{
    
    padding: 4px;
    display: flex;
}
.box{
    border: 1px solid white;
    padding: 100px;
    margin: 5px;
}
.container-fluid1{
    
    /* padding: 4px;
   
    display: flex;
    flex-wrap: wrap; */
    column-count: 3
}


.box1{
    border: 1px solid white;
     margin: 5px;
    ;
}
.box1 img{
    width:100%;
    height: 100%;
}
.container-fluid2{
    
    padding: 4px;
    display: flex;
    
}
.box2{
    border: 1px solid white;
    padding: 100px;
    margin: 5px;
}
.container-fluid3{
    padding: 4px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 10;
}
.box3{
    border: 1px solid white;
    padding: 100px;
    margin: 5px;
}
.container-fluid4{
    
  /*  padding: 4px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    z-index: 10;*/
    
}
.box4{
    border: 1px solid white;
    padding: 100px;
    margin: 5px;
}
.content{
    width: 40%;
  background-color: white;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 10px;
  margin: 0 auto;
  overflow: scroll;
  overflow-x: hidden
}

.topnav {
    overflow: hidden;
    background-color: #333;
    color: white;
  }
  
  .topnav a {
    float: left;
    color: white;
    font-family: cursive;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a:hover {
    background-color: gray;
    color: black;
  }
  
  .topnav a.active {
   color: yellow;
   font-family: cursive;
   font-size: larger;
  }
  
  .topnav-right {
    float: right;
  }
button{
    background-color: #fff;
    float: right;
}
.slide{
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
}
.image-slider{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}